@using VicemMVC.Models.ViewModels
@model AssignRoleViewModel

<h2>Assign Role</h2>

<form asp-action="AssignRole" method="post">
    @foreach (var role in Model.AllRoles)
    {
        <div>
            <input type="checkbox" id="@role.Id" name="SelectedRoles" value="@role.Name" @(Model.SelectedRoles != null &&
            Model.SelectedRoles.Contains(role.Name) ? "checked" : "")>
            <label for="@role.Id">@role.Name</label>
        </div>
    }
    <input type="hidden" name="UserId" value="@Model.UserId">
    <button type="submit">Assign Roles</button>
</form>